* {
  margin: 0;
  padding: 0;
}

aside {
  float: right;
  width: 250px;
}

html {
  scroll-behavior: smooth;
}

#logo {
  height: 16%;
  width: 100%;
}

#sidebar {
  position: fixed;
  background: white;
  height: 100%;
  transition: 400ms;
}

#sidebar ul {
  list-style: none;
  margin-top: 10%;
}

#sidebar ul li {
  padding: 16px 16px;
  box-sizing: border-box;
}

#sidebar ul li a {
  color: #29335f;
  text-decoration: none;
  font-family: 'Chivo', serif;
  font-weight: 900;
  font-size: 16pt;
  padding-left: 20px;
}

section {
  padding-top: 8%;
  padding-left: 7%;
  width: 73%;
  height: 86%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Chivo', serif;
}

#headline-start {
  font-family: 'Chivo', serif;
  color: white;
  font-weight: 900;
  font-size: 40pt;
}

#headline-end {
  font-family: 'Chivo', serif;
  color: white;
  font-weight: 300;
  font-size: 40pt;
}

#story-drive {
  background-color: #aacfe3;
  background-image: url('../assets/hero_image_shop.png');
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  padding-left: 3.5%;
  padding-right: 3.5%;
}

#story-drive #info {
  background-color: #aacfe3;
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
  color: #29335f;
  padding: 16px;
  padding-bottom: 30px;
  width: 50%;
  opacity: 80%;
  margin: auto;
  margin-top: 23%;
  text-align: left;
}

#story-drive #info li {
  margin-left: 15px;
}

#story-drive #support {
  color: white;
  background-color: black;
  border: 0;
  /* two below only needed if div */
  width: 25%;
  margin: auto;
  margin-top: 2%;
  border-radius: 30px;
  padding: 18px;
  padding-right: 25px;
  padding-left: 25px;
  font-family: 'Chivo', serif;
  font-weight: 900;
  font-size: 20px;
}

#story-start {
  background: #aacfe3;
}

#story-start #headline-end {
  color: #ef404a;
}

#why {
  background: #f4e6a0;
}

#why #headline-start {
  color: #315c88;
}

#why #headline-end {
  color: #ef404a;
}

#who {
  background: #315c88;
}

#who #headline-end {
  color: #ef404a;
}

#partners {
  background: #e4aa4f;
}

#partners #headline-start {
  color: #29335f;
}

#join {
  background: #f37167;
}

#join #headline-start {
  color: #000000;
  font-size: 32pt;
}

#join #headline-end {
  font-size: 32pt;
}
